apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
- ../../base/sealed-secrets/overlays/prod
- ../../base/tailscale/overlays/prod
- ../../base/argocd/overlays/prod
- argocd-self-management.yaml
- argocd-server-http-ingress.yaml
- argocd-application-namespaces.yaml
- sealedsecret.yaml
- projects

patches:
- path: argocd-cm.patch.yaml

configMapGenerator:
- name: argocd-cmd-params-cm
  behavior: merge
  envs:
  - config/argocd-cmd-params-cm.env
- name: argocd-rbac-cm
  behavior: merge
  files:
  - config/policy.csv
  envs:
  - config/rbac.env
