apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base/sealed-secrets/overlays/prod
- ../../base/tailscale/overlays/prod
- ../../base/argocd/overlays/prod
- argocd-self-management.yaml
- argocd-server-http-ingress.yaml

patches:
- path: argocd-cm.patch.yaml

configMapGenerator:
- name: argocd-cmd-params-cm
  behavior: merge
  envs:
  - config/argocd-cmd-params-cm.env
- name: argocd-rbac-cm
  behavior: merge
  files:
  - config/policy.csv
  envs:
  - config/rbac.env

#- namespaces.yaml
#- argocd-application
#- projects
#
#patches:
#- patch: |-
#    - op: add
#      path: /rules/-
#      value:
#        apiGroups:
#        - argoproj.io
#        resources:
#        - applications
#        - applicationsets
#        - appprojects
#        verbs:
#        - create
#        - get
#        - list
#        - watch
#        - update
#        - delete
#        - patch
#  target:
#    kind: ClusterRole
#    name: argocd-server
