apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
- target:
    kind: AppProject
  patch: |-
    - op: replace
      path: /metadata/name
      value: core-apps
    - op: replace
      path: /spec/description
      value: Project for core applications
    - op: add
      path: /spec/sourceNamespaces
      value: ["core-apps"]
    - op: add
      path: /spec/roles
      value:
      - name: read-only
        description: Read-only role for core applications
        policies:
        - p, proj:tests:read-only, logs, get, tests/*, allow
        - p, proj:tests:read-only, applications, get, tests/*, allow
        groups:
        - wim.vandenwyngaert@gmail.com
