apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
- target:
    kind: AppProject
  patch: |-
    - op: replace
      path: /metadata/name
      value: core-apps
    - op: replace
      path: /spec/description
      value: Project for core applications
    - op: add
      path: /spec/sourceNamespaces
      value: ["core-apps"]
    - op: add
      path: /spec/roles
      value:
      - name: read-only
        description: Read-only role for Redis application
        policies:
        - p, proj:core-apps:read-only, logs, get, core-apps/redis, allow
        - p, proj:core-apps:read-only, logs, get, core-apps/core-apps/redis, allow
    #    - p, proj:core-apps:read-only, exec, create, core-apps/redis, allow
    #    - p, proj:core-apps:read-only, exec, create, core-apps/core-apps/redis, allow
        - p, proj:core-apps:read-only, applications, get, core-apps/core-apps/redis, allow
        groups:
        - wim.vandenwyngaert@gmail.com
